<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Sweetjian.MLO2Syncer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MLO2Syncer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Sweetjian.MLO2Syncer.Properties.Settings>
            <setting name="ListenIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>21031</value>
            </setting>
            <setting name="MloDataFile" serializeAs="String">
                <value>D:\sync.ml</value>
            </setting>
            <setting name="DelayKillMlo" serializeAs="String">
                <value>15000</value>
            </setting>
        </Sweetjian.MLO2Syncer.Properties.Settings>
    </userSettings>
</configuration>
